go 1.26.0

use (
	./.sparkwing
	./aws
	./checks
	./deploy
	./docker
	./gitops
	./kube
	./pipelines
	./s3
	./step
	./templates
)

replace github.com/sparkwing-dev/sparks-core/aws v0.3.0 => ./aws

replace github.com/sparkwing-dev/sparks-core/checks v0.3.0 => ./checks

replace github.com/sparkwing-dev/sparks-core/deploy v0.3.0 => ./deploy

replace github.com/sparkwing-dev/sparks-core/docker v0.3.0 => ./docker

replace github.com/sparkwing-dev/sparks-core/gitops v0.3.0 => ./gitops

replace github.com/sparkwing-dev/sparks-core/kube v0.3.0 => ./kube

replace github.com/sparkwing-dev/sparks-core/pipelines v0.3.0 => ./pipelines

replace github.com/sparkwing-dev/sparks-core/s3 v0.3.0 => ./s3

replace github.com/sparkwing-dev/sparks-core/step v0.3.0 => ./step
