go 1.26.0

use (
	.
	./.sparkwing
	./aws
	./checks
	./deploy
	./docker
	./gitops
	./kube
	./pipelines
	./s3
	./step
	./templates
)

replace github.com/sparkwing-dev/sparkwing => /Users/koreygambill/code/sparkwing
